@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Space Grotesk', 'IBM Plex Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  font-weight: 400;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #0b1021;
}

* {
  box-sizing: border-box;
}
